$nav-bottom-color: #ECECEC;

.nav {
    padding: 10px 0;
    border-bottom: 2px solid $nav-bottom-color;
}

.nav-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding: 10px 0;
    color: black;
    font-size: 24px;
    border-radius: 5px;
    transition: .2s ease-in-out;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 30px;

    .nav-list__item {
        position: relative;
    }
}

.drop-down {
    position: absolute;
    top: 100%;
    right: 0;

    
    margin: 20px 0;
    width: 150px;
    font-size: 14px;
    background-color: #FFF;
    border-radius: 5px;
    border: 2px solid $nav-bottom-color;
}

.drop-down__profile-name {
    margin-top: 20px;
    padding-left: 13px;
    padding-bottom: 20px;
    border-bottom: 1px solid $nav-bottom-color;
    // This can be usable only cause of single item
}
